* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}
.clockContents {
  margin: auto;
  position: relative;
  height: 40vw;
  width: 40vw;
  background: url(clock.png);
  background-size: 100%;
}

#hour,
#minute,
#second {
  background-color: black;
  position: absolute;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.2%;
  height: 19%;
  top: 29%;
  left: 48.82%;
  opacity: 0.8;
}

#minute {
  width: 1%;
  height: 38%;
  top: 10%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 0.8%;
  height: 31%;
  top: 17%;
  left: 49%;
  opacity: 0.8;
}

.clockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh auto;
  width: 29%;
  font-size: 5vh;
  border: 5px solid black;
  border-radius: 17px;
}
