@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
  color: black;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2.4rem;
  border: none;
  background: black;
  color: white;
  opacity: 0.8;
}

form button {
  color: #0c97d3;
  background: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todo-input:focus {
  outline: none;
}
form button:hover {
  background-color: #0c97d3;
  color: black;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: black;
  color: white;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
  padding: 0 1rem;
}

.trash-btn,
.complete-btn {
  background: #5433ff;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.complete-btn {
  background: #0dd464;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(6rem) rotateZ(10deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #0c97d3;
  width: 11rem;
  cursor: pointer;
  padding: 1.4rem;
  background: black;
  opacity: 0.8;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: black;
  color: #0c97d3;
  top: 0;
  right: 0;
  padding: 1.5rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: #0c97d3;
  color: black;
}
